@charset "UTF-8";



table {
    width: 400px;
    /* height: 400px; */
    border-collapse: collapse; /*junta as linhas da border, o padrao é 'separate*/
    position: relative;
}

thead > tr > th { /*prender o cabeçalho no scroll.*/
    position: sticky;
    top: 0px;
    background-color: lightcoral;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    background-color: lightgrey;
    padding: 10px;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: top;
}

tbody > tr:nth-child(odd) /*efeito zebrado*/{
    background-color: grey;
}

thead, tfoot {
    background-color: lightcoral;
}

.numero {
    text-align: right;
    vertical-align: middle;
}

col.cnome { /*melhor forma de configurar coluna inteira.*/
    background-color: yellow;
}

col.cfilme { /*melhor forma de configurar coluna inteira.*/
    background-color: aqua;
}

div#container { /*deixa a tabela responsiva ao tamanho da janela, rolando apenas a tabela e não a janela inteira*/
    overflow-x: auto;
}