@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    /*fonte baixada*/
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/*USANDO VARIÁVEIS.*/
:root {
    /*pseudo-classe, tudo que eu definir em root, servirá para todo o documento.*/
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

/*para melhorar a estrutura dos elementos, irei tirar todos os paddings e margins.*/
*

/*indica todos os elementos*/
    {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);

}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.459);
}

header>h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;

}

header>p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
}

nav {
    box-shadow: 3px 2px 9px rgba(0, 0, 0, 0.668);
    font-weight: bold;
    background-color: var(--cor5);
    padding: 9.5px;
}

nav>a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
    /*delay para ação do hover*/
}

nav>a:hover {
    background-color: var(--cor3);
}

div.video {
    background-color: #83e1ad;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 50%;
}

div.video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main {
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    /*para separar do rodapé.*/
    border-bottom-left-radius: 10px;
    /*para deixar as bordas apenas embaixo.*/
    border-bottom-right-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.71);
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
}

main p {
    margin: 15px 0px 15px 0px;
    /*margem em cima e embaixo*/
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1.5em;
}

main a {
    text-decoration: none;
    font-weight: bold;
    background-color: #83e1ad;
    color: #1a5c37;
}

main a:hover {
    text-decoration: underline;

}

main strong {
    font-weight: bold;
    color: var(--cor4);
    padding: 2px;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    /*para deixar esta imagem centralizada, o 'margin: auto' não iria funcionar pois a imagem não é um bloco, então antes precisa usar um display block.*/
    display: block;
    margin: auto;
}

aside {
    background-color: var(--cor2);
    border-radius: 10px;
    padding: 15px;
}

aside>ul {
    list-style-type: '✔️ ';
    /*ou '\2714'*/
    list-style-position: inside;
    columns: 2;
}

a.externo::after {
    /*::after indica que é depois do link.*/
    content: ' 🔗';
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
}